PORT=3001
DATABASE_URL="postgresql://user:password@localhost:5436/rzk_holding_db?schema=public"
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=rzk_holding_db
POSTGRES_PORT=5436

# Obtenha sua chave em https://www.exchangerate-api.com/
EXCHANGE_RATE_API_KEY=sua_chave_aqui
